body {
  margin: 0;
  background-color: #e0e0e0;
  transition: background-color 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

input {
  padding: 0.6rem 0.8rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 1rem;
  letter-spacing: 0.05em;
}

input:focus {
  outline: none;
  box-shadow: 0 0 6px 0px rgb(0, 60, 255);
}

input::placeholder {
  font-size: 1rem;
}

label {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.3rem;
}

button {
  padding: 0.6rem 1.5rem;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 1.5rem;
  font-size: 1.1rem;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: rgb(112, 112, 255);
}

button:active {
  background-color: rgb(151, 151, 255);
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  grid-template-rows: repeat(3, 5rem);
  gap: 1rem;
  margin: 0 auto;
}

.item {
  line-height: 5rem;
  text-align: center;
  display: inline-block;
  font-size: 40px;
  border-radius: 20px;
  box-shadow: 4px 4px 7px #5c5c5c, -4px -4px 7px #636363;
  border: 1px solid rgb(158, 158, 158);
  cursor: pointer;
}

.item:hover {
  background-color: #8383830c;
}

.buttons-container {
  display: flex;
  gap: 1rem;
}

.btn-back {
  background-color: rgb(255, 40, 40);
}
.btn-back:hover,
.btn-back:focus {
  background-color: rgb(255, 86, 86);
}

.btn-back:active {
  background-color: rgb(255, 121, 121);
}

.user-form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hidden {
  display: none;
}

.first-player,
.second-player {
  position: relative;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 0px 10px 8px -10px red;
}

.active {
  display: flex;
  gap: 0.7rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 8px -10px green;
}

.active::before {
  position: absolute;
  top: 0%;
  left: -5%;
  content: "\276F";
  font-weight: 600;
  font-size: 1.2rem;
}

.theme-container {
  position: fixed;
  top: 2.5%;
  right: 5%;
  width: 4rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 5rem;
  border: 1px solid rgb(73, 73, 73);
  cursor: pointer;
}

.theme-toggler {
  position: absolute;
  top: 50%;
  left: 0.15rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: #464646;
  transform: translate(0, -50%);
  transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dark {
  background-color: #242424;
  color: rgb(197, 197, 197);
}

.dark-toggler-container {
  border-color: #e0e0e0;
}

.dark-toggler {
  background-color: #e0e0e0;
  transform: translate(108%, -50%);
}